html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80');
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h3, legend{
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #CDC0DC;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}

aside {
	flex-basis: 33%;
}

h1{
	color: #03113E;
}

p{
	margin: 2rem 0 0 0;
}

fieldset{
	border: 1px solid #30477F;
	border-radius: 15px;
	margin: 1.3rem 0 2rem 0;
}

legend{
	font-weight: bold;
	font-size: 1.3rem;
	color: #30477F;
	display: block;
}

label{
	display: block;
	padding: 10px 0 0 5px;

}

input:not([type="radio"]):not([type="checkbox"]), textarea, select{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	border-radius: 5px;
	padding: 0.3rem 1rem 0.1rem 1rem;
	margin-bottom: 0.8rem;
}

textarea{
	height: 7rem;
	padding: 1rem;
}

select{
	font-size: 1rem;
	margin-top: 5px;
}

buttn{
	font-size: 1rem;
	font-weight: bold;
	color:#3A3A6B;
	background-color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}

button:hover{
	font-size: 1.1rem;
	color: white;
	background-color: #3A3A6B;
}

[for="experience"]{
	margin-top: 0.8rem;
}









